@mixin buttonStyle(
  $padding-x: 0.3rem,
  $padding-y: 0.7rem,
  $bg-color: transparent
) {
  padding: $padding-x $padding-y;
  border: 1px solid rgb(77, 75, 75);
  background: $bg-color;
  border-radius: 8px;
}

.card {
  background: white;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  height: 400px;
  width: 300px;
  border: 1px solid white;
  display: grid;
  grid-gap: 0.6rem;
  grid-auto-columns: 1fr;
  grid-template-rows: 1fr 2.4fr 1fr;
  grid-template-areas:
    "top"
    "section"
    "bottom";

  .top {
    grid-area: top;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      border: 1px solid rgb(57, 56, 56);
      background: transparent;
    }
    img {
      height: 50px;
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
    }

    button {
      @include buttonStyle();
    }

    button:hover {
      background: rgb(145, 144, 144);
      transition: all 0.3s ease;
    }
  }

  .section {
    grid-area: section;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
span{
    opacity: 0.6;
    font-size: 0.7rem;
}
    .button {
      display: flex;
      gap: 0.5rem;

      button {
        @include buttonStyle(0.5rem, 0.9rem, rgb(145, 144, 144));
      }
      button:hover {
        background: rgb(43, 41, 41);
        transition: all 0.3s ease;
        color: white;
      }
    }
  }

  .bottom {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(66, 64, 64);

    button {
      @include buttonStyle(0.6rem, 1rem, black);
      color: white;
    }
    button:hover {
      background: rgb(67, 65, 65);
      transition: all 0.3s ease;
    }
  }
}
