.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    background: lightseagreen;
    border-radius: 0.6rem;
}

.btn {
    background: rgb(55, 54, 54);
    padding: 0.6rem 0.9rem;
    margin: 0.5rem;
    border-radius: 0.6rem;
    border: 1px solid white;
}

.btn:hover {
    padding: 0.8rem 1.1rem;
    transition: all 0.5s ease;
    background: linear-gradient(to right bottom, rgb(3, 85, 81), rgb(235, 7, 223));
}